

body {
    background: #2c3e50;
    font-family: 'Roboto',sans-serif;
    font-weight: normal;
    color: #ecf0f1;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container{
    animation: fadeIn 0.9s linear;
}

.main-info li {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: left;
}

.input-basic{
    background: none;
    border: none;
    appearance: none;
    border-bottom: 1px solid #ecf0f1;
    font-size: 1.5rem;
    color: #000
}

.add-button {
	width: 24px;
	height: 24px;
	border-radius: 24px;
	color: white;
	font-size: 16px;
	line-height: 17px;
	border: 1px solid dimgray;
	background-color: darkblue;
}

input:focus {
    outline: none;
}


.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.container .main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}

.main-info .todo {
    width: 480px;
    background-color: #fff;
}

.main-info .js-clock{
    font-size: 10em;
    margin-bottom: 50px;
}

.main-info .todo-weather {
    display: block;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-family: 'Indie Flower',sans-serif;
}

.main-info .todo-greeting {
    background-color: blueviolet;
    padding: 10px 20px;
    font-size: 2rem;
}

.main-info .todo-form{
    padding: 10px 20px;
}

.todo-form__invisible {
    display: none;
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    
}

.todo-list {
    padding: 10px 20px;
    font-size: 2rem;
}

.todoItem {
    color: black;
    
}

.todoItem input {
    position: relative;
}

.todoItem input:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 20px;
	position: absolute;
	top: -6px;
	left: -4px;
	border: 1px solid dimgray;
  }
  .todoItem input:checked:after {
	content: '\2713';
	display: inline-block;
	font-size: 18px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	position: absolute;
	top: -6px;
	left: -4px;
	border: 1px solid dimgray;
	background-color: dimgray;
	text-align: center;
	color: white;
  }
  .todoItem input:checked + label {
	text-decoration: line-through;
  }
